Source: wazo-res-stasis-amqp
Section: comm
Priority: optional
Maintainer: Wazo Maintainers <dev@wazo.community>
Build-Depends: 
 debhelper (>= 9),
 asterisk-dev (>= 8:16),
 libssl-dev,
 wazo-res-amqp-dev
Standards-Version: 3.9.6

Package: wazo-res-stasis-amqp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, asterisk (>= 8:16.5.0-1~wazo6), wazo-res-amqp, jq
Description: AMQP module to publish stasis message to rabbitmq.
 An Asterisk module that publishes Stasis and AMI events on the message bus using wazo-res-amqp
 .

Package: wazo-res-stasis-amqp-dbg
Architecture: any
Depends: wazo-res-stasis-amqp (= ${source:Version})
Description: AMQP module to publish stasis message to rabbitmq with debug symbols
 An Asterisk module that publishes Stasis and AMI events on the message bus using wazo-res-amqp
 .
